*.gem
*.rbc
.bundle/
.config
.dat*
.repl_history
.ruby-gemset
.ruby-version
.rvmrc
.yardoc/
Gemfile.lock
InstalledFiles
_yardoc/
build/
coverage/
doc/
lib/bundler/man/
pkg/
rdoc/
spec/reports
spec/reports/
test/tmp/
test/version_tmp/
tmp/
